{% extends 'app.html'%}

{% block title %}Nosotros{% endblock %}

{%block content %}
	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({{url_for('static', filename='images/chupetascoco.jpg')}});">
		<h2 class="l-text2 t-center">
			NOSOTROS
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
						<img src="{{url_for('static', filename='images/fabrica.jpg')}}" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						Nuestra historia...
					</h3>

					<p class="p-b-28">
						Candy UCAB fue fundado en 1951 por un grupo de pioneros con el objetivo de ofrecer golosinas de calidad a un precio accesible para consumidores de todo el mundo.
						Desde la Antigüedad el ser humano ha tenido que realizar grandes viajes, y por ello surgió la necesidad de encontrar ​ alimentos ligeros, no perecederos y capaces de proporcionar grandes cantidades de energía​ .
                        Hacían dulces a base de sustancias como la ​ miel​ , el jengibre, el regaliz o la lactosa ya que no se conocía el azúcar como actualmente. El caramelo, tal y como lo conocemos hoy, se inventó en 1820. En Estados Unidos la producción industrial de caramelos comenzó en 1850, en España no empezaría hasta 1930.
                        A partir de 1960, nuevas tecnologías empezaron a emplearse en la fabricación de caramelos.
                        Los caramelos clásicos son: el ​ chicle​ , elástico y con capacidad de retener sabores, que surge de la costumbre que tenían en la antigüedad de masticar cosas diferentes a los alimentos. Los caramelos Dulcin son un ejemplo de caramelo clásico, creados con leche y una parte de café. Otros caramelos son: Ricura, Ricolin, los choco candy,
                        El Original,6 los Firi firi,los pirulitos , las chupetas Rimbombin, y las Chupetas de Corazón.
					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
							Soñar con caramelos hace la vida más fácil...
						</p>

						<span class="s-text7">
							- Amelia Farrisiti
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	{%endblock%}