<!DOCTYPE html>
<html lang="en">
<head>
	<title> CandyUCAB | {% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href=""/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/mdb/css/mdb.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/themify/themify-icons.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/elegant-font/html-css/style.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/slick/slick.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/lightbox2/css/lightbox.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="wrap_header">
				<!-- Logo -->
				<a href="{{url_for('home')}}" class="logo">
					<h1>CandyUCAB</h1>
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{{url_for('home')}}">Home</a>
							</li>

							<li>
								<a href="{{url_for('productos')}}">Comprar</a>
							</li>

							<li class="sale-noti">
								<a href="{{url_for('home')}}">Diario Dulce</a>
							</li>

							<li>
								<a href="{{url_for('nosotros')}}">Nosotros</a>
							</li>
						</ul>
					</nav>
				</div>
				{% if session['logged_in'] == True %}
				<!-- Header Icon -->
				<div class="header-icons">
					<a href="#" class="header-wrapicon1 dis-block dropdown-toggle" id="navbarDropdowntopuser1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="{{url_for('static', filename ='images/icons/icon-header-01.png')}}" class="header-icon1" alt="ICON">
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdowntopuser1">
						 <p class="dropdown-item">{{session['username']}}</p>
						 <a class="dropdown-item" href="{{url_for('logout')}}" >Log out</a>
             		</div>
					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<img src="{{url_for('static', filename ='images/icons/icon-header-02.png')}}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>


						<div class="header-cart header-dropdown">
							<!-- Header cart noti
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{{url_for('static', filename ='images/item-cart-01.jpg')}}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{{url_for('static', filename ='images/item-cart-02.jpg')}}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>-->

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{{url_for('carrito')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Ver Carrito
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{{url_for('carrito')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Presupuesto
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
                {%else%}
                <div class="header-icons">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowntop2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Registro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdowntop2">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormNat">Cliente Natural</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormJur">Cliente Jurídico</a>
                    </div>
                    <span class="linedivide1"></span>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
		        </div>
                {%endif%}
			</div>
		</div>
        {% if error %}
        <!-- top noti -->
        <div class="flex-c-m size22 bg0 s-text21 pos-relative">

            <p style="color:white;"><strong>Error:</strong> {{ error }}. Ingrese los datos nuevamente.</p>

            <button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4 btn-romove-top-noti">
                <i class="fa fa-remove fs-13" aria-hidden="true"></i>
            </button>
        </div>
        {%endif%}
		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="{{url_for('home')}}" class="logo-mobile">
				<h1>CandyUCAB</h1>
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				{% if session['logged_in'] == True %}
                <!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="{{url_for('static', filename ='images/icons/icon-header-01.png')}}" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="{{url_for('static', filename ='images/icons/icon-header-02.png')}}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
                {%else%}
                <div class="header-icons-mobile">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdowntop3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Registro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdowntop3">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormNat">Cliente Natural</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormJur">Cliente Jurídico</a>
                    </div>
                    <span class="linedivide1"></span>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
				</div>
                {%endif%}

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">

					<li class="item-menu-mobile">
						<a href="{{url_for('home')}}">Home</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{{url_for('productos')}}">Comprar</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{{url_for('home')}}">Diario Dulce</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{{url_for('nosotros')}}">Nosotros</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

     {% block content %}{% endblock %}


	<!-- Footer -->
    {% include "footer.html" %}



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>
     <!-- Modal cliente natural -->
    <div class="modal fade" id="modalRegisterFormNat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Registro Cliente Natural</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{url_for('registro_nat')}}" method="POST">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-username" class="form-control validate" name="username">
                            <label data-error="wrong" data-success="right" for="orangeForm-username">Username</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-name" class="form-control validate" name="nombre">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Nombre</label>
                        </div>
                         <div class="md-form mb-5">
                            <select class="mdb-select" id="parroquia_jur">
                                <option value="" disabled selected>Selecciona la parroquia</option>
								{% for prq in parroquias %}
								<option value="{{prq.id}}">{{prq.nombre}}</option>
								{%endfor%}
                            </select>
                            <label>Parroquia donde esta la empresa</label>
                        </div>
						<div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-lastname" class="form-control validate" name="Apellido">
                            <label data-error="wrong" data-success="right" for="orangeForm-lastname">Primer Apellido</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-lastname2" class="form-control validate" name="Apellido2">
                            <label data-error="wrong" data-success="right" for="orangeForm-lastname2">Segundo Apellido</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-rif" class="form-control validate" name="rif">
                            <label data-error="wrong" data-success="right" for="orangeForm-rif">RIF</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-cedula" class="form-control validate" name="ci">
                            <label data-error="wrong" data-success="right" for="orangeForm-cedula">Cédula</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="orangeForm-email" class="form-control validate" name="email">
                            <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="orangeForm-pass" class="form-control validate" name="password">
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Contraseña</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-deep-orange" type="submit">¡Regístrate!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- Modal cliente juridico -->
    <div class="modal fade" id="modalRegisterFormJur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Registro Cliente Jurídico</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{url_for('registro_jur')}}" method="POST">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-username" class="form-control validate" name="username">
                            <label data-error="wrong" data-success="right" for="redForm-username">Username</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-rif" class="form-control validate" name="rif">
                            <label data-error="wrong" data-success="right" for="redForm-rif">RIF</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-razon_s" class="form-control validate" name="Razon_s">
                            <label data-error="wrong" data-success="right" for="redForm-razon_s">Razón Social</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-denom_c" class="form-control validate" name="Denominacion_C">
                            <label data-error="wrong" data-success="right" for="redForm-denom_c">Denominación Comercial</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-pagina-web" class="form-control validate" name="Pagina_web">
                            <label data-error="wrong" data-success="right" for="redForm-pagina-web">Página Web</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="redForm-email" class="form-control validate" name="email">
                            <label data-error="wrong" data-success="right" for="redForm-email">Email</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="redForm-pass" class="form-control validate" name="password">
                            <label data-error="wrong" data-success="right" for="redForm-pass">Contraseña</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-deep-orange" type="submit" >¡Regístrate!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Login -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Log In</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{url_for('login')}}" method="POST">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="text" id="defaultForm-email" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Username</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="defaultForm-pass" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Contraseña</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-deep-orange" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>


	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
<!--===============================================================================================-->


<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/mdb/js/mdb.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/slick/slick.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/slick-custom.js')}}"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>-->
	<script src="{{url_for('static', filename='js/map-custom.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/main.js')}}"></script>


</body>
</html>
