<!DOCTYPE html>
<html lang="en">
<head>
	<title>CandyUcab | Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href=""/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/mdb/css/mdb.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/themify/themify-icons.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/elegant-font/html-css/style.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/slick/slick.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/lightbox2/css/lightbox.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- header fixed -->
	<div class="wrap_header fixed-header2 trans-0-4">
		<!-- Logo -->
		<a href="{{url_for('home')}}" class="logo">
			<h1>CandyUCAB</h1>
		</a>

		<!-- Menu -->
		<div class="wrap_menu">
			<nav class="menu">
				<ul class="main_menu">
					<li>
						<a href="{{url_for('home')}}">Home</a>
					</li>

					<li>
						<a href="{{url_for('productos')}}">Comprar</a>
					</li>

					<li class="sale-noti">
						<a href="{{url_for('contact')}}">Diario Dulce</a>
					</li>

					<li>
						<a href="{{url_for('nosotros')}}">Nosotros</a>
					</li>
				</ul>
			</nav>
		</div>

		{% if session['logged_in'] == True %}
		<!-- Header Icon -->
		<div class="header-icons">
			<a class="header-wrapicon1 dis-block dropdown-toggle"  href="" id="navbarDropdowntopuser1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img src="{{url_for('static',filename='images/icons/icon-header-01.png')}}" class="header-icon1" alt="ICON">
			</a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdowntopuser1">
                 <p class="dropdown-item">{{session['username']}}</p>
                 <a class="dropdown-item" href="{{url_for('logout')}}" >Log out</a>
             </div>
			<span class="linedivide1"></span>

			<div class="header-wrapicon2">
				<img src="{{url_for('static',filename='images/icons/icon-header-02.png')}}" class="header-icon1 js-show-header-dropdown" alt="ICON">
				<span class="header-icons-noti">0</span>

				<!-- Header cart noti -->
				<div class="header-cart header-dropdown">
					<!--<ul class="header-cart-wrapitem">
						<li class="header-cart-item">
							<div class="header-cart-item-img">
								<img src="{{url_for('static',filename='images/item-cart-01.jpg')}}" alt="IMG">
							</div>

							<div class="header-cart-item-txt">
								<a href="#" class="header-cart-item-name">
									White Shirt With Pleat Detail Back
								</a>

								<span class="header-cart-item-info">
									1 x $19.00
								</span>
							</div>
						</li>

						<li class="header-cart-item">
							<div class="header-cart-item-img">
								<img src="{{url_for('static',filename='images/item-cart-02.jpg')}}" alt="CARRITO">
							</div>

							<div class="header-cart-item-txt">
								<a href="#" class="header-cart-item-name">
									Converse All Star Hi Black Canvas
								</a>

								<span class="header-cart-item-info">
									1 x $39.00
								</span>
							</div>
						</li>

						<li class="header-cart-item">
							<div class="header-cart-item-img">
								<img src="images/item-cart-03.jpg" alt="IMG">
							</div>

							<div class="header-cart-item-txt">
								<a href="#" class="header-cart-item-name">
									Nixon Porter Leather Watch In Tan
								</a>

								<span class="header-cart-item-info">
									1 x $17.00
								</span>
							</div>
						</li>
					</ul>-->

					<div class="header-cart-buttons">
                        <div class="header-cart-wrapbtn">
							<!-- Button -->
                            <a href="{{url_for('carrito')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
								Ver Carrito
							</a>
                        </div>
                        <div class="header-cart-wrapbtn">
							<!-- Button -->
                            <a href="{{url_for('carrito')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
								Presupuestos
							</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
        {%else%}
        <div class="header-icons">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowntop2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Registro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdowntop2">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormNat">Cliente Natural</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormJur">Cliente Jurídico</a>
                    </div>
                    <span class="linedivide1"></span>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
		</div>
        {%endif%}
	</div>

    {% if error %}
	<!-- top noti -->
	<div class="flex-c-m size22 bg0 s-text21 pos-relative">

        <p style="color:white;"><strong>Error:</strong> {{ error }}. Ingrese los datos nuevamente.</p>

		<button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4 btn-romove-top-noti">
			<i class="fa fa-remove fs-13" aria-hidden="true"></i>
		</button>
	</div>
    {%endif%}

	<!-- Header -->
	<header class="header2">
		<!-- Header desktop -->
		<div class="container-menu-header-v2 p-t-26">
			<div class="topbar2">
				<!-- Logo2 -->
				<a href="{{url_for('home')}}" class="logo2">
					<h1>CandyUCAB</h1>
				</a>
                {% if session['logged_in'] == True %}
				<div class="topbar-child2">
					<!--  -->
					<a class="header-wrapicon1 dis-block m-l-30 dropdown-toggle"  href="" id="navbarDropdowntopuser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="{{url_for('static',filename='images/icons/icon-header-01.png')}}" class="header-icon1" alt="ICON">
					</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdowntopuser">
                      <p class="dropdown-item">{{session['username']}}</p>
                      <a class="dropdown-item" href="{{url_for('logout')}}" >Log out</a>
                    </div>
					<span class="linedivide1"></span>

					<div class="header-wrapicon2 m-r-13">
						<img src="{{url_for('static',filename='images/icons/icon-header-02.png')}}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>


						<div class="header-cart header-dropdown">
							<!--<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{{url_for('static',filename='images/item-cart-01.jpg')}}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{{url_for('static',filename='images/item-cart-02.jpg')}}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div> -->

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{{url_for('carrito')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Ver Carrito
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{{url_for('carrito')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Presupuestos
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
                {%else%}
                <div class="topbar-child2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowntop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Registro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdowntop">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormNat">Cliente Natural</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormJur">Cliente Jurídico</a>
                    </div>
                    <span class="linedivide1"></span>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
				</div>
                {%endif%}
			</div>

			<div class="wrap_header">

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{{url_for('home')}}">Home</a>

							</li>

							<li>
								<a href="{{url_for('productos')}}">Comprar</a>
							</li>

							<li class="sale-noti">
								<a href="{{url_for('contact')}}">Diario Dulce</a>
							</li>

							<li>
								<a href="{{url_for('nosotros')}}">Nosotros</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">

				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="{{url_for('home')}}" class="logo-mobile">
				<h1>CandyUCAB</h1>
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
                {% if session['logged_in'] == True %}
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="{{url_for('static', filename='images/icons/icon-header-01.png')}}" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="{{url_for('static', filename='images/icons/icon-header-02.png')}}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>


						<div class="header-cart header-dropdown">
							 <!--<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>-->

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{{url_for('carrito')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="{{url_for('carrito')}}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Presupuesto
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
                {%else%}
                <div class="header-icons-mobile">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdowntop3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Registro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdowntop3">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormNat">Cliente Natural</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterFormJur">Cliente Jurídico</a>
                    </div>
                    <span class="linedivide1"></span>
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
				</div>
                {%endif%}

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">

					<li class="item-menu-mobile">
						<a href="{{url_for('contact')}}">Home</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{{url_for('productos')}}">Comprar</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{{url_for('contact')}}">Diario Dulce</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{{url_for('nosotros')}}">Nosotros</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 item1-slick1" style="background-image: url({{url_for('static', filename='images/slider3.jpg')}});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
							Los mejores productos
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">
							CandyUCAB
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
							<!-- Button -->
							<a href="{{url_for('productos')}}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Comprar Ahora
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item2-slick1" style="background-image: url({{url_for('static', filename='images/slider2.jpg')}});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rollIn">
							Al mejor precio
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="lightSpeedIn">
							CandyUCAB
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
							<!-- Button -->
							<a href="{{url_for('productos')}}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Comprar Ahora
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item3-slick1" style="background-image: url({{url_for('static', filename='images/slider1.jpg')}});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rotateInDownLeft">
							Excelente calidad
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="rotateInUpRight">
							CandyUCAB
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
							<!-- Button -->
							<a href="{{url_for('productos')}}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								Comprar Ahora
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- Our product -->
	<section class="bgwhite p-t-45 p-b-58">
		<div class="container">
			<div class="sec-title p-b-22">
				<h3 class="m-text5 t-center">
					Nuestros Productos
				</h3>
			</div>

			<!-- Tab01 -->
			<div class="tab01">
				<!-- Tab panes -->
				<div class="tab-content p-t-35">
					<!-- - -->
					<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
						<div class="row">
                            {%for prod in productos %}
							<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="{{url_for('static', filename='images/'+prod.foto)}}" alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>

											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Add to Cart
												</button>
											</div>
										</div>
									</div>

									<div class="block2-txt p-t-20">
										<a href="{{url_for('producto', id=prod.id)}}" class="block2-name dis-block s-text3 p-b-5">
											{{prod.nombre}}
										</a>

										<span class="block2-price m-text6 p-r-5">
											{{prod.precio}} Bs.
										</span>
									</div>
								</div>
							</div>
                            {%endfor%}
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- Shipping -->
	<section class="shipping bgwhite p-t-62 p-b-46">
		<div class="flex-w p-l-15 p-r-15">
			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Despachos a nivel nacional
				</h4>
                <span class="s-text11 t-center">
					Llegamos, hasta el lugar más lejano.
				</span>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
				<h4 class="m-text12 t-center">
					Si no te gusta, no lo pagas
				</h4>

				<span class="s-text11 t-center">
					Créeme, ¡probarás uno y vas a querer miles!
				</span>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					¡Abrimos todos los dias!
				</h4>

				<span class="s-text11 t-center">
					¡Tiendas Candy Shop y Mini Candy Shop abiertas de lunes a domingo!
				</span>
			</div>
		</div>
	</section>


    {% include 'footer.html' %}



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

    <!-- Modal cliente natural -->
    <div class="modal fade" id="modalRegisterFormNat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Registro Cliente Natural</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{url_for('registro_nat')}}" method="POST">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-username" class="form-control validate" name="username">
                            <label data-error="wrong" data-success="right" for="orangeForm-username">Username</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-name" class="form-control validate" name="nombre">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Nombre</label>
                        </div>
                        <div class="md-form mb-5">
                            <label for="parroquia_nat">Parroquia donde vive</label>
                            <select class="mdb-select" id="parroquia_nat" name="prq">
                                <option value="" disabled selected>Selecciona la parroquia</option>
								{% for prq in parroquias %}
								<option value="{{prq.id}}">{{prq.nombre}}</option>
								{%endfor%}
                            </select>

                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-lastname" class="form-control validate" name="Apellido">
                            <label data-error="wrong" data-success="right" for="orangeForm-lastname">Primer Apellido</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-lastname2" class="form-control validate" name="Apellido2">
                            <label data-error="wrong" data-success="right" for="orangeForm-lastname2">Segundo Apellido</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-rif" class="form-control validate" name="rif">
                            <label data-error="wrong" data-success="right" for="orangeForm-rif">RIF</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="orangeForm-cedula" class="form-control validate" name="ci">
                            <label data-error="wrong" data-success="right" for="orangeForm-cedula">Cédula</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="orangeForm-email" class="form-control validate" name="email">
                            <label data-error="wrong" data-success="right" for="orangeForm-email">Email</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="orangeForm-pass" class="form-control validate" name="password">
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Contraseña</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-deep-orange" type="submit">¡Regístrate!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- Modal cliente juridico -->
    <div class="modal fade" id="modalRegisterFormJur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Registro Cliente Jurídico</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{url_for('registro_jur')}}" method="POST">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-username" class="form-control validate" name="username">
                            <label data-error="wrong" data-success="right" for="redForm-username">Username</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-rif" class="form-control validate" name="rif">
                            <label data-error="wrong" data-success="right" for="redForm-rif">RIF</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-razon_s" class="form-control validate" name="Razon_s">
                            <label data-error="wrong" data-success="right" for="redForm-razon_s">Razón Social</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-denom_c" class="form-control validate" name="Denominacion_C">
                            <label data-error="wrong" data-success="right" for="redForm-denom_c">Denominación Comercial</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="redForm-pagina-web" class="form-control validate" name="Pagina_web">
                            <label data-error="wrong" data-success="right" for="redForm-pagina-web">Página Web</label>
                        </div>

                        <div class="md-form mb-5">
                            <select class="mdb-select" id="parroquia_jur">
                                <option value="" disabled selected>Selecciona la parroquia</option>
								{% for prq in parroquias %}
								<option value="{{prq.id}}">{{prq.nombre}}</option>
								{%endfor%}
                            </select>
                            <label>Parroquia donde esta la empresa</label>
                        </div>
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="redForm-email" class="form-control validate" name="email">
                            <label data-error="wrong" data-success="right" for="redForm-email">Email</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="redForm-pass" class="form-control validate" name="password">
                            <label data-error="wrong" data-success="right" for="redForm-pass">Contraseña</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-deep-orange" type="submit" >¡Regístrate!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Login -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Log In</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{url_for('login')}}" method="POST">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="text" id="defaultForm-email" class="form-control validate" name="username">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Username</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="defaultForm-pass" class="form-control validate" name="password">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Contraseña</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-deep-orange" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/mdb/js/mdb.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/slick/slick.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/slick-custom.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/lightbox2/js/lightbox.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/sweetalert/sweetalert.min.js')}}"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static', filename='vendor/parallax100/parallax100.js')}}"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
    <script type="text/javascript">
        $(document).ready(function() {
           $('.mdb-select').material_select();
         });
    </script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/lugares.js')}}"></script>

</body>
</html>
